body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* Organiza header e conteúdo em coluna */
    min-height: 100vh;      /* Garante que o body ocupe toda a altura da tela */
}

header {
    padding: 20px;
}

header img {
    width: 100%;           /* ocupa toda a largura do contêiner */
    height: auto;           /* Mantém a proporção da imagem */
    border-radius: 27px;    /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra suave */
    border: 3px solid #000; /* borda preta de 3px */
}

.conteudo {
    display: flex;          /* Coloca main e #fotos lado a lado */
    flex: 1;               /* Ocupa o espaço restante */
    gap: 20px;             /* Espaço entre main e #fotos */
    padding: 20px;
}

main {
    flex: 1;               /* main ocupa o espaço disponível */
}

#fotos {
    width: 300px;          /* Largura fixa para a div de fotos */
    display: flex;
    flex-direction: column;
    gap: 10px;             /* Espaço entre imagens */
}

#fotos img {
    max-width: 100%;
    height: auto;          /* Mantém a proporção da imagem */
    border-radius: 15px;   /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra suave */
    opacity: 0.8;  /* imagem 80% opaca */
}

.dir {
    transform: rotate(5deg);
}

.esq {
    transform: rotate(-5deg);
}

p {
    margin: 0;            /* Remove margens padrão */
    padding: 10px;        /* Espaçamento interno */
    border-radius: 5px;   /* Bordas arredondadas */
    text-align: justify
}